.description {
  padding: 30px;
}
.profile-avatar {
  margin: 0 auto;
  width: 170px;
}
.profile {
  width: 400px;
  box-shadow: 2px 2px 2px 2px #d9e1e7;
  margin: 0 auto;
}

.stats {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.stats-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b2b8bd;
  background-color: #d9e1e7;
  width: 100%;
  height: 70px;
  font-size: 17px;
  font-weight: bold;
}
.quantity {
  color: gray;
}
.profile-name {
  font-size: 24px;
  font-weight: bold;
}
